<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.min.css" />
    <include path="~/Content//open-iconic-bootstrap.min.css" />
    <include path="~/Content/icomoon.css" />
  <include path="~/Content/Site.css" />
    <include path="~/Content/LightBox.css"></include>
   <!-- <include path="~/Content/style.css"></include>-->
    <include path="~/Content/bootstrap-tagsinput.css"></include>
    <include path="~/Content/summernote.css"></include>
  </styleBundle>
</bundles>